<!DOCTYPE html>
<head>
	<title>You player</title>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{{url_for("static", filename="jquery.lazy.min.js") }}"></script>
  <script src="{{url_for("static", filename="jQuery.tubeplayer.min.js") }}"></script>
<style type="text/css">
#myModal
{
  padding-top: 100px;
}
.title
{
    padding-left:30px;
}
body
{
  background-color: #ccccff;
}
img.lazy
{
  display: block;
}
hr
{
  background-color: black;
  width: 65%;
}
fieldset
{
	border:2px solid black;
    border-radius:5px;
	width:60%;
}
#center-panel
{
  padding-top: 30px;
}
</style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for("home.main") }}">Home</a></li>
      <li class="active"><a href="{{ url_for("show_history.main") }}">History</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if user_email %}
    <li><a href="{{ url_for("logout.main") }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% endif %}
    </ul>
  </div>
</nav>
<div class="modal" id="myModal" role="dialog">
  <center><div id="player">
  </div></center>
</div>
<div class="row">
<div class="col-sm-2" id = "left-panel">
</div>
<div class="col-sm-8">
  <div id="center-panel">
  {% for key in video_keys %}
    <hr>
	<fieldset  style=" !important" >
	<table width="75%">
	<tr>
	<td rowspan='2'>
    <img class ="lazy" class="img-thumbnail" data-src="http://img.youtube.com/vi/{{ key[0] }}/0.jpg" height="150px" width="200px" onClick = 'return play_video("{{ key[0] }}");'>
	</td>
	<td class="title">{{ key[2] }}</td>
	</tr>
	<tr>
	<td class="title">
	    {{ key[1] }}
    </td>
	</tr>
	</table>
	</fieldset>
    <hr>
{% endfor %}
</div>
</div>
<div class="col-sm-2" id = "right-panel">
</div>
</div>
<script type="text/javascript">
$(function() {
        $('.lazy').lazy({
            placeholder: "data:image/gif;base64,R0lGODlhEALAPQAPzl5uLr9Nrl8e7..."
        });
    });
configuration = {
    width: 800, // the width of the player
    height: 500, // the height of the player
    allowFullScreen: "true", // true by default, allow user to go full screen
    preferredQuality: "default",// preferred quality: default, small, medium, large, hd720
    onPlayerEnded: function(){
        alert($(this).tubeplayer("videoId"));
        },
     onPlayerPlaying: function()
     {
        if(last_video_saved != $(this).tubeplayer("videoId"))
          {
            $.post("{{ url_for("save_to_history.main") }}", {video_key: $(this).tubeplayer("videoId")});
            last_video_saved = $(this).tubeplayer("videoId");
            alert($(this).tubeplayer("videoId"));
          }
     },
     //showControls: false,
     theme:"light",
     color:"white",
};

function play_video(key)
{
  var html = '<div id='+'"'+key+'"'+'>'+'</div>';
  var id = '#'+key+'';
  document.getElementById("player").innerHTML = html;
  configuration["initialVideo"]=key;
  $("#myModal").modal();
  $(id).tubeplayer(configuration);
}
</script>
</body>