<!DOCTYPE html>
<head>
	<title>You player</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></scrip>
<script src="{{ url_for("static", filename="jquery-1.12.1.min.js") }}"></script>
<script src="{{url_for("static", filename="jQuery.tubeplayer.min.js") }}"></script>
<style type="text/css">
#category-select
{
  padding-top: 50%;
}
.modal-header, h4, .close {
      background-color: black;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
 .modal-footer {
      background-color: black;
  }

 body
{
    background-color: #ccccff;
}
/*
  background-color: #b3b3b3;

*/
#sub-category-select
{
  padding-top: 10px;
}
#language-select
{
  padding-top: 10px;
}
.btn-group-vertical
{
  width: 100%;
}
#player
{
    text-align: center;
    padding-top: 10px;
}
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form action = "{{url_for("login.main") }}" method="POST" role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="email" name = "email" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" name ="password" class="form-control" id="psw" placeholder="Enter password">
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>

    </div>
  </div>





<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      {% if user_email %}
      <li><a href="{{url_for("show_history.main") }}">History</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if not user_email %}

    <li id="login"><a href="#" onclick = "return false;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <li><a href="{{url_for("verification_link_generation.main") }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    {% else %}
    <li><a href="{{ url_for("logout.main") }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% endif %}
    </ul>
</div>

</nav>
<div class="row">
<div class="col-sm-2" id = "left-panel">
  <select class="form-control" id="language-select">
        {% for language in language_options %}
        <option value="{{language}}" id="language-select-option">{{language }}</option>
        {% endfor %}
  </select>
  <div id="category-select">
  </div>

</div>
<div class="col-sm-8">
  <div id="player">
  </div>
  <div id = "control">
    <center><button id="change" type = "button" class = "btn btn-primary">CHANGE</button></center>
  </div>
</div>
<div class="col-sm-2" id = "right-panel">
  <div id="sub-category-select">
  </div>
</div>
</div>
<script>
category_html="";
sub_category_html="";
last_video_saved="";
configuration = {
    width: 800, // the width of the player
    height: 500, // the height of the player
    allowFullScreen: "true", // true by default, allow user to go full screen
    initialVideo: "dHjmFnuxSok",
    preferredQuality: "default",// preferred quality: default, small, medium, large, hd720
    onPlayerEnded: function(){
        alert($(this).tubeplayer("videoId"));
        },
     onPlayerPlaying: function()
     {
        if(last_video_saved != $(this).tubeplayer("videoId"))
          {
            $.post("{{ url_for("save_to_history.main") }}", {video_key: $(this).tubeplayer("videoId")});
            last_video_saved = $(this).tubeplayer("videoId");
            alert($(this).tubeplayer("videoId"));
          }
     },
     //showControls: false,
     theme:"light",
     color:"white",
};
configuration["initialVideo"] = "{{ key }}"
jQuery("#player").tubeplayer(configuration);
$("#change").click(function(){
 $.get("{{ url_for("play_video.main") }}", function(key){
    html ='<div id ="'+key+'"'+'>'+'</div>';
    document.getElementById("player").innerHTML = html;
    configuration["initialVideo"] = key;
    id ="#"+key;
    $(id).tubeplayer(configuration);
  });
});
function set_sub_category(sub_category,id)
{
  $.post("{{url_for("change_sub_category.main") }}",{selected_sub_category:sub_category});
  document.getElementById("sub-category-select").innerHTML = sub_category_html;
 id="#"+id;
 $(id).css("color","black");
  return true;
}
function set_category(category,id)
{
  $.post("{{url_for("change_category.main") }}",{selected_category:category},function(data){
    html = '<div class="btn-group-vertical">';
    for(i=0;i<data["sub_category"].length;i++)
    {
       num = (i+1).toString()+"c";
       html = html + "<button href="+"'"+"#"+"'"+' '+'id='+'"'+num+'"'+ "class='btn btn-primary' type = 'button' onClick='return set_sub_category("+'"'+data["sub_category"][i]+'"'+","+'"'+num+'"'+");"+ "'"+">"+data["sub_category"][i]+"</button>";
    }
     html = html+"</div>";
     sub_category_html=html;
    document.getElementById("sub-category-select").innerHTML = html;
  });
  document.getElementById("category-select").innerHTML = category_html;
  id="#"+id;
 $(id).css("color","black");
  return false;
}
$(document).ready(function(){
$("#login").click(function(){
     $("#myModal").modal();
});
$("#language-select").click(function(){
  var selected_language=document.getElementById('language-select').value;
  $.post("{{ url_for("change_language.main")}}",{selected_language:selected_language},function(data){
    html= '<div class="btn-group-vertical">';
    for(var i=0;i<data["category"].length;i++)
    {
      num = (i+1).toString();
      html = html + "<button href="+"'"+"#"+"'"+' '+'id='+'"'+num+'"'+ "class='btn btn-primary' type = 'button' onClick='return set_category("+'"'+data["category"][i]+'"'+","+'"'+num+'"'+");"+ "'"+">"+data["category"][i]+"</button>";
    }
    html=html+"</div>";
    category_html=html;
    document.getElementById("sub-category-select").innerHTML = "";
    document.getElementById("category-select").innerHTML = html;
  });
});
});
</script>

</body>
