<!DOCTYPE html>
<head>
	<title>You player</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></scrip>
<script src="{{ url_for("static", filename="jquery-1.12.1.min.js") }}"></script>
<style type="text/css">
.modal-header, h4, .close {
      background-color: black;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
 .modal-footer {
      background-color: black;
  }

 body
{
    background-color: #ccccff;
}
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form action = "{{url_for("login.main") }}" method="POST" role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" name = "email" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" name ="password" class="form-control" id="psw" placeholder="Enter password">
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>

    </div>
  </div>





<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      {% if user_email %}
      <li><a href="{{url_for("show_history.main") }}">History</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if not user_email %}

    <li id="login"><a href="#" onclick = "return false;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <li><a href="{{url_for("verification_link_generation.main") }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    {% else %}
    <li><a href="{{ url_for("logout.main") }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% endif %}
    </ul>
</div>

</nav>
<div class="row">
<div class="col-sm-2" id = "left-panel">
</div>
<div class="col-sm-8">
    {{ message }}
</div>
<div class="col-sm-2" id = "right-panel">
</div>
</div>
<script>
$(document).ready(function(){
$("#login").click(function(){
     $("#myModal").modal();
});
});
</script>
</body>