<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
</head>
<body>
	<h1>Hi, {{ name }}</h1>
	<p>Click on the below link to verify your account.</p>
	{{ url_for("verify_account.main", token = token, _external = True) }}
	
</body>